# 题目一
请用代码实现：利用下划线将列表的每一个元素拼接成字符串，li＝[‘alex’, ‘eric’, ‘rain’]

In [4]:
li=['alex','eric','rain']
print( '_'.join(li))

alex_eric_rain

# 题目二
查找列表中元素，移除每个元素的空格，并查找以a或A开头并且以c结尾的所有元素。

li = ["alec", " aric", "Alex", "Tony", "rain"]

tu = ("alec", " aric", "Alex", "Tony", "rain")

dic = {'k1': "alex", 'k2': ' aric', "k3": "Alex", "k4": "Tony"}

In [11]:
li = ["alec", " aric", "Alex", "Tony", "rain"]
tu = ("alec", " aric", "Alex", "Tony", "rain")
dic = {'k1': "alex", 'k2': ' aric', "k3": "Alex", "k4": "Tony"}

In [17]:
for i in range(len(li)):
    li[i] = li[i].strip()
    
print(li)

['alec', 'aric', 'Alex', 'Tony', 'rain']

In [20]:
tu_list = list(tu)
for i in range(len(tu_list)):
    tu_list[i] = tu_list[i].strip()
    
tu_tu = set(tu_list)
print(tu_tu)

{'rain', 'aric', 'Tony', 'alec', 'Alex'}

In [21]:
for k in dic:
    dic[k] = dic[k].strip()
    
print(dic)

{'k1': 'alex', 'k2': 'aric', 'k3': 'Alex', 'k4': 'Tony'}

# 题目三
li＝[‘alex’, ‘eric’, ‘rain’]

实现如下功能：
1. 计算列表长度并输出
2. 列表中追加元素“seven”，并输出添加后的列表
3. 请在列表的第1个位置插入元素“Tony”，并输出添加后的列表
4. 请修改列表第2个位置的元素为“Kelly”，并输出修改后的列表
5. 请删除列表中的元素“eric”，并输出修改后的列表
6. 请删除列表中的第2个元素，并输出删除的元素的值和删除元素后的列表
7. 请删除列表中的第3个元素，并输出删除元素后的列表
8. 请删除列表中的第2至4个元素，并输出删除元素后的列表
9. 请将列表所有的元素反转，并输出反转后的列表
10. 请使用for、len、range输出列表的索引
11. 请使用enumrate输出列表元素和序号（序号从100开始）
12. 请使用for循环输出列表的所有元素

In [38]:
li = ['alex', 'eric', 'rain']

In [39]:
print(len(li))

3

In [40]:
li.append('seven')
print(li)

['alex', 'eric', 'rain', 'seven']

In [41]:
li.insert(0,"Tony")
print(li)

['Tony', 'alex', 'eric', 'rain', 'seven']

In [42]:
li[1] = 'kelly'
print(li)

['Tony', 'kelly', 'eric', 'rain', 'seven']

In [43]:
del li[li.index('eric')]
print(li)

['Tony', 'kelly', 'rain', 'seven']

In [44]:
print('del element:',li.pop(1))
print('after del:',li)

del element: kelly
after del: ['Tony', 'rain', 'seven']

In [45]:
del li[2]
print(li)

['Tony', 'rain']

In [52]:
li.reverse()
print(li)

['rain', 'Tony']

In [54]:
li_reverse = li[::-1]
print(li_reverse)

['rain', 'Tony']

In [46]:
for i in range(len(li)):
    print(i)

0
1

In [47]:
for index,element in  enumerate(li):
    print(index,':',element)

0 : Tony
1 : rain

In [49]:
for element in li:
    print(element)

Tony
rain

# 题目四
li = ["hello", 'seven', ["mon", ["h", "kelly"], 'all'], 123, 446]

实现功能：
1. 请根据索引输出“Kelly”
2. 请使用索引找到’all’元素并将其修改为“ALL”，如：li[0][1][9]…

In [55]:
li = ["hello", 'seven', ["mon", ["h", "kelly"], 'all'], 123, 446]

In [56]:
print(li[2][1][1])

kelly

In [57]:
li[2][2]="ALL"
print(li)

['hello', 'seven', ['mon', ['h', 'kelly'], 'ALL'], 123, 446]

# 题目五
tu = ("alex", [11, 22, {"k1": 'v1', "k2": ["age", "name"], "k3": (11,22,33)}, 44])

实现功能：
1. 讲述元组的特性
2. 请问tu变量中的第一个元素“alex”是否可被修改？
3. 请问tu变量中的”k2”对应的值是什么类型？是否可以被修改？如果可以，请在其中添加一个元素“Seven”
4. 请问tu变量中的”k3”对应的值是什么类型？是否可以被修改？如果可以，请在其中添加一个元素“Seven”

1.元组中的元素不可修改
但如果元素是可变数据类型，则该元素可以修改

2.不可以修改，字符串是不可变数据类型

In [58]:
tu = ("alex", [11, 22, {"k1": 'v1', "k2": ["age", "name"], "k3": (11,22,33)}, 44])

In [59]:
tu[1][2]['k2'].append('Seven')
print(tu)

('alex', [11, 22, {'k1': 'v1', 'k2': ['age', 'name', 'Seven'], 'k3': (11, 22, 33)}, 44])

4. 不可以修改

# 题目六

实现如下要求：
1. 将字符串s = “alex”转换成列表
2. 将字符串s = “alex”转换成元祖
3. 将列表li = [“alex”, “seven”]转换成元组
4. 将元组tu = (‘Alex’, “seven”)转换成列表
5. 将列表li = [“alex”, “seven”]转换成字典且字典的key按照10开始向后递增

In [71]:
s = list()
s.extend('alex')
print(s)

['a', 'l', 'e', 'x']

In [75]:
s = list()
s.extend('alex')
s_tup = tuple(s)
print(s_tup)

('a', 'l', 'e', 'x')

In [74]:
li = ['alex', 'seven']
li_tup = tuple(li)
print(li_tup)

('alex', 'seven')

In [76]:
tu = ('Alex', 'seven')
tu_li = list(tu)
print(tu_li)

['Alex', 'seven']

In [77]:
di = dict()
for i in range(len(li)):
    di[10+i] = li[i]

In [78]:
print(di)

{10: 'alex', 11: 'seven'}

# 题目七
有如下值集合[11,22,33,44,55,66,77,88,99,90]，将所有大于66的值保存至字典的第一个key中，将小于66的值保存至第二个key的值中。

即：{‘k1’:大于66的所有值, ‘k2’:小于66的所有值}

In [86]:
di = {'k1':[],'k2':[]}
li = [11,22,33,44,55,66,77,88,99,90]
for number in li:
    if number>66:
        di['k2'].append(number)
    else:
        di['k1'].append(number)
        
print(di)

{'k1': [11, 22, 33, 44, 55, 66], 'k2': [77, 88, 99, 90]}

# 题目八
在不改变列表数据结构的情况下找最大值li = [1,3,2,7,6,23,41,243,33,85,56]。

In [88]:
li = [1,3,2,7,6,23,41,243,33,85,56]
print('max:',max(li))
print('li:',li)

max: 243
li: [1, 3, 2, 7, 6, 23, 41, 243, 33, 85, 56]

# 题目九
在不改变列表中数据排列结构的前提下，找出以下列表中最接近最大值和最小值的平均值 的数

li = [-100,1,3,2,7,6,120,121,140,23,411,99,243,33,85,56]。

In [93]:
li = [-100,1,3,2,7,6,120,121,140,23,411,99,243,33,85,56]
max_li = max(li)
min_li = min(li)
avg_li = (max_li+min_li)/2
dif = abs(li[0]-avg_li)
close_to_avg_index = 0
for i in range(len(li)):
    if abs(li[i]-avg_li) < dif:
        dif = abs(li[i]-avg_li)
        close_to_avg_index = i
        
print('result:',li[close_to_avg_index])

result: 140

# 题目十
利用for循环和range输出9 * 9乘法表

In [95]:
for i in range(1,10):
    for j in range(1,10):
        print('{} x {} = {}'.format(i,j,i*j))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81